<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Available Houses</title>
  </head>

  <body>
    <button type="button">
      <a href="/login">Login</a>
    </button>
    <button type="button">
      <a href="/">Home</a>
    </button>
    <button type="button">
      <a href='/stays/new'>Become a host</a>
    </button>

    <section id="content">
      <ul style='list-style-type:none;'>
        <% for(let i=0; i<listings.length; i++){ %>
          <a href='/'>
          <div id='offer'>
            <li><%=listing[i].user%></li>
            <li><%=listing[i].title%></li>
            <li><%=listing[i].price%></li>
            <li> Available from: <%=listing[i].availableFrom%> to <%=listing[i].availableTo%></li>
            <li><%=listings[i].images%></li>
          </div>
          <br>
          </a>
        <% } %>
      </ul>
    </section>
  </body>
</html>
