<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Available Houses</title>
  </head>

  <body>
    <button type="button">
      <a href="/login">Login</a>
    </button>
    <button type="button">
      <a href="/">Home</a>
    </button>
    <button type="button">
      <a href='/stays/new'>Post a House</a>
    </button>

    <section id="content">
      <div> 
        <ul style='list-style-type:none;'>
          <% for(let i=0; i<listings.length; i++){ %>
            <li><%=listing[i].user></li>
            <li><%=listing[i].title></li>
            <li><%=listing[i].price></li>
            <li> Available from: <%=listing[i].availableFrom> to <%=listing[i].availableTo></li>
            <li><%=listing[i].description></li>
            <li><%=listings[i].images%></li>
          <% } %>
      </ul>
      </div>
    </section>
  </body>
</html>
